ul.navigation{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
   
}

ul.navigation li{
    display: block;
    padding: 20px;
    background-color: steelblue;
    position: relative;
    transition: all 0.3s ease-in-out;
}

ul.navigation li a{
    text-decoration: none;
}

ul.navigation li:hover{
    background-color: rgb(32, 89, 136);
}

#active{
    background-color: rgb(32, 89, 136);
}

ul.dropdown{
    list-style: none;
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    display: none;
}

ul.navigation li:hover ul.dropdown{
    display: block;
}

ul.navigation ul.dropdown li{
    position: relative;
}

ul.dropdown__two{
    list-style: none;
    position: absolute;
    top: 0;
    left: 58%;
    display: none;
}
ul.navigation li:hover ul.dropdown li:hover ul.dropdown__two{
    display: block;
}