*{
    margin: 0;
    padding: 0;
    gap: 4vh;
}

.container{
    display:flex;
    margin: 30px 20px;
    border: 1px solid blue;
    padding: 15px;
}

.item{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

div.container *{
    text-transform: uppercase;
}