body{
    background-color: aquamarine;
}
/*
h1{
    color: blue;
    text-transform: uppercase;
}
*/
/*@media (orientation: landscape) {
    h1{
        color: red;
        text-transform: none;
    }
}
*/

/* **Standard Mobile devices */
@media (max-width: 48rem) {
    h1{ 
        color: rgb(15, 139, 79);
        text-decoration: underline;
    }
}

/* ? Standard Tablate devices */

@media (max-width: 62rem) {
    h1{
        color:blue;
        text-decoration: none;
        text-transform: uppercase;
    }
    p{
        color: rgb(64, 33, 33);
    }
 }

/* !Standard Large devices */
@media (max-width: 75rem) { 
    h1{
        color:rgb(108, 108, 136);
        text-decoration: underline;
    }

}

/*  **XLarge devices */
@media (max-width: 87.5rem) {}

