body{
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


#container{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 200px;
}

#container div{
    padding: 30px;
}

#container div:nth-child(2n){
    background-color: rgb(227, 215, 215)
}

.nested{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr); ;
    grid-gap:10px;
}

.nested p{
    border: 1px solid #fff;
}
