body{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#container{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(3,1fr);
    grid-gap: 10px;
    background-color: rgb(224, 224, 179);
}

#container div{
    padding: 30px;
}

#container div:nth-child(2n){
    background-color: rgb(160, 172, 206);
}