h1{
    height: 100%;
    width: 100%;
    position: relative;
}

h1:hover::after{
    content: attr(data-content);
    display: block;
    background-color: rgb(219, 151, 151);
    position: absolute;
    display: inline-block;
    top: 0;
    size: 5px;
}